<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Number of Books: {{num_of_books}}</p>
    <p>Number of Book Intances: {{num_of_book_instance}}</p>
    <p>Number of Book Avaiable: {{num_of_book_instance_avail}}</p>

    {% if request.user.is_authenticated %}
        <p>You are logged in</p>
        <p>Welcome : {{request.user.username}}</p>
        <p><a href="{% url 'profile' %}">Profile</a></p>
        <a href="{% url 'logout' %}?next={{request.path}}">Logout</a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

</body>
</html>
